/* FONTS */
@font-face {
  font-family: "avenir-book";
  src: url("../fonts/AvenirLTStd-Book.eot?#iefix") format("embedded-opentype"),
    url("../fonts/AvenirLTStd-Book.otf") format("opentype"),
    url("../fonts/AvenirLTStd-Book.woff") format("woff"),
    url("../fonts/AvenirLTStd-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "avenir-medium";
  src: url("../fonts/AvenirLTStd-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/AvenirLTStd-Medium.otf") format("opentype"),
    url("../fonts/AvenirLTStd-Medium.woff") format("woff"),
    url("../fonts/AvenirLTStd-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "avenir-roman";
  src: url("../fonts/AvenirLTStd-Roman.eot?#iefix") format("embedded-opentype"),
    url("../fonts/AvenirLTStd-Roman.otf") format("opentype"),
    url("../fonts/AvenirLTStd-Roman.woff") format("woff"),
    url("../fonts/AvenirLTStd-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "poppins-bold";
  src: url("../fonts/Poppins-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Poppins-Bold.otf") format("opentype"),
    url("../fonts/Poppins-Bold.woff") format("woff"),
    url("../fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "poppins-medium";
  src: url("../fonts/Poppins-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Poppins-Medium.otf") format("opentype"),
    url("../fonts/Poppins-Medium.woff") format("woff"),
    url("../fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "poppins-regular";
  src: url("../fonts/Poppins-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Poppins-Regular.otf") format("opentype"),
    url("../fonts/Poppins-Regular.woff") format("woff"),
    url("../fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "poppins-semibold";
  src: url("../fonts/Poppins-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Poppins-SemiBold.otf") format("opentype"),
    url("../fonts/Poppins-SemiBold.woff") format("woff"),
    url("../fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ubuntu-regular";
  src: url("../fonts/Ubuntu.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Ubuntu.woff") format("woff"),
    url("../fonts/Ubuntu.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ubuntu-bold";
  src: url("../fonts/Ubuntu-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Ubuntu-Bold.woff") format("woff"),
    url("../fonts/Ubuntu-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ubuntu-italic";
  src: url("../fonts/Ubuntu-Italic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Ubuntu-Italic.woff") format("woff"),
    url("../fonts/Ubuntu-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ubuntu-medium";
  src: url("../fonts/Ubuntu-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Ubuntu-Medium.woff") format("woff"),
    url("../fonts/Ubuntu-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "bebas-bold";
  src: url("../fonts/BebasNeue-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/BebasNeue-Bold.woff") format("woff"),
    url("../fonts/BebasNeue-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "bebas-regular";
  src: url("../fonts/BebasNeue-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/BebasNeue-Regular.otf") format("opentype"),
    url("../fonts/BebasNeue-Regular.woff") format("woff"),
    url("../fonts/BebasNeue-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "rajdhani-bold";
  src: url("../fonts/rajdhani-bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/rajdhani-bold.otf") format("opentype"),
    url("../fonts/rajdhani-bold.woff") format("woff"),
    url("../fonts/rajdhani-bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "rajdhani-light";
  src: url("../fonts/rajdhani-light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/rajdhani-light.otf") format("opentype"),
    url("../fonts/rajdhani-light.woff") format("woff"),
    url("../fonts/rajdhani-light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "rajdhani-medium";
  src: url("../fonts/rajdhani-medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/rajdhani-medium.otf") format("opentype"),
    url("../fonts/rajdhani-medium.woff") format("woff"),
    url("../fonts/rajdhani-medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "rajdhani-regular";
  src: url("../fonts/rajdhani-regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/rajdhani-regular.otf") format("opentype"),
    url("../fonts/rajdhani-regular.woff") format("woff"),
    url("../fonts/rajdhani-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "rajdhani-semibold";
  src: url("../fonts/rajdhani-semibold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/rajdhani-semibold.otf") format("opentype"),
    url("../fonts/rajdhani-semibold.woff") format("woff"),
    url("../fonts/rajdhani-semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "brandon-bold";
  src: url("../fonts/brandon-bld.eot?#iefix") format("embedded-opentype"),
    url("../fonts/brandon-bld.woff") format("woff"),
    url("../fonts/brandon-bld.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "brandon-black";
  src: url("../fonts/brandon-blk.eot?#iefix") format("embedded-opentype"),
    url("../fonts/brandon-blk.woff") format("woff"),
    url("../fonts/brandon-blk.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "brandon-medium";
  src: url("../fonts/brandon-med.eot?#iefix") format("embedded-opentype"),
    url("../fonts/brandon-med.woff") format("woff"),
    url("../fonts/brandon-med.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "brandon-regular";
  src: url("../fonts/brandon-reg.eot?#iefix") format("embedded-opentype"),
    url("../fonts/brandon-reg.woff") format("woff"),
    url("../fonts/brandon-reg.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "brandon-regular-italic";
  src: url("../fonts/brandon-reg-it.eot?#iefix") format("embedded-opentype"),
    url("../fonts/brandon-reg-it.otf") format("opentype"),
    url("../fonts/brandon-reg-it.woff") format("woff"),
    url("../fonts/brandon-reg-it.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "museosans-100";
  src: url("../fonts/MuseoSans-100.eot?#iefix") format("embedded-opentype"),
    url("../fonts/MuseoSans-100.woff") format("woff"),
    url("../fonts/MuseoSans-100.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "museosans-300";
  src: url("../fonts/MuseoSans-300.eot?#iefix") format("embedded-opentype"),
    url("../fonts/MuseoSans-300.woff") format("woff"),
    url("../fonts/MuseoSans-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "museosans-500";
  src: url("../fonts/MuseoSans-500.eot?#iefix") format("embedded-opentype"),
    url("../fonts/MuseoSans-500.woff") format("woff"),
    url("../fonts/MuseoSans-500.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "museosans-700";
  src: url("../fonts/MuseoSans-700.eot?#iefix") format("embedded-opentype"),
    url("../fonts/MuseoSans-700.woff") format("woff"),
    url("../fonts/MuseoSans-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "museosans-900";
  src: url("../fonts/MuseoSans-900.eot?#iefix") format("embedded-opentype"),
    url("../fonts/MuseoSans-900.woff") format("woff"),
    url("../fonts/MuseoSans-900.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "If";
  src: url("../fonts/If.eot?#iefix") format("embedded-opentype"),
    url("../fonts/If.woff") format("woff"),
    url("../fonts/If.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "georgia-regular";
  src: url("../fonts/georgia.eot?#iefix") format("embedded-opentype"),
    url("../fonts/georgia.woff") format("woff"),
    url("../fonts/georgia.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "georgia-bold";
  src: url("../fonts/georgiab.eot?#iefix") format("embedded-opentype"),
    url("../fonts/georgiab.woff") format("woff"),
    url("../fonts/georgiab.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "georgia-italic";
  src: url("../fonts/georgiai.eot?#iefix") format("embedded-opentype"),
    url("../fonts/georgiai.woff") format("woff"),
    url("../fonts/georgiai.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "georgia-bi";
  src: url("../fonts/georgiaz.eot?#iefix") format("embedded-opentype"),
    url("../fonts/georgiaz.woff") format("woff"),
    url("../fonts/georgiaz.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
