<!-- about us section -->
<section class="get-in-shape weight-lifing-outline-bg py-5">
  <div class="triangle-line-bg-left py-0 py-sm-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="get-in-shape-avatar">
            <div class="avatar">
              <img loading="lazy" src="../assets/img/get-in-shape-avatar.jpg" alt="FF Fit" class="mw-100">
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="get-in-shape-description m-0 ml-lg-5 ml-md-0 mt-lg-0 mt-5">
            <span class="text-uppercase">results make talks</span>
            <h1>The Place to <br />Get In shape</h1>
            <p>When I first started I was anything but the picture of health. I was very underweight, but I told myself it was muscle! I frequently ate fast food, drank pop and beer. I decided to do something about it. I immersed myself into lifestyle and have never looked back.</p>
            <p>However, I had many ups and downs. It took me years before I made a decision to completely overhaul my workouts</p>
            <a href="/contact.html" class="btn-style-2 btn-stay-in-touch text-uppercase">stay in touch</a>
            <div class="about-statistics mt-3">
              <div class="row">
                <div class="col-md-4 col-sm-4 col-6 d-none d-sm-block text-center">
                  <i class="far fa-clock"></i>
                  <h3>1248</h3>
                  <label>Working Hours</label>
                </div>
                <div class="col-md-4 col-sm-4 col-6 text-center">
                  <i class="far fa-heart"></i>
                  <h3>2346</h3>
                  <label>Happy Clients</label>
                </div>
                <div class="col-md-4 col-sm-4 col-6 text-center">
                  <i class="fas fa-award"></i>
                  <h3>482</h3>
                  <label>Winning Awards</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--// about us section -->