<!-- about us section -->
<section id="aboutUs" class="about-us triangle-line-bg-left py-5">
  <div class="container py-5">
    <div class="row pt-5">
      <div class="col-lg-6">
        <div class="our-clicks-wrapper">
          <div class="our-click-holder" data-click="1"></div>
          <div class="our-click-holder" data-click="2"></div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="about-info-wrapper">
          <div class="title-style-1">
            <h1 class="text-uppercase p-0 m-0">About Me</h1>
          </div>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
            into electronic typesetting, remaining essentially unchanged.</p>
          <p> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem
            Ipsum.</p>
          <a href="/about.html" class="btn-style-1 my-3 text-uppercase">Read More</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--// about us section -->