<!-- about us section -->
<section id="aboutUs" class="about-us triangle-line-bg-left py-5">
  <div class="container py-5">
    <div class="row pt-5">
      <div class="col-lg-6">
        <div class="our-clicks-wrapper">
          <div class="our-click-holder" data-click="1"></div>
          <div class="our-click-holder" data-click="2"></div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="about-info-wrapper">
          <div class="title-style-1">
            <h1 class="text-uppercase p-0 m-0">About Me</h1>
          </div>
          <p>When I first started I was anything but the picture of health. I was very underweight, but I told myself it was muscle! I frequently ate fast food, drank pop and beer. I decided to do something about it. I immersed myself into lifestyle and have never looked back.</p>
          <p>However, I had many ups and downs. It took me years before I made a decision to completely overhaul my workouts</p>
          <p>I learned about the value of metabolic training and HIIT which completely transformed by body. The best part of it is that it can be done with minimal or even NO equipment anytime and anywhere you prefer.</p>
          <p>It was at this time that I also begin my journey in Yoga which not only has tremendous health benefits. But has helped with stress management and relaxation at times when I really needed it.</p>
          <!-- <a href="/about.html" class="btn-style-1 my-3 text-uppercase">Read More</a> -->
        </div>
      </div>
    </div>
  </div>
</section>
<!--// about us section -->