<!-- Banner Overlay Content -->
<div class="banner-content-elements">
  <!-- title & breadcrumb links -->
  <div class="container content-scoll-wrapper">

    <div class="banner-content-holder">
      <div class="banner-title">
        <h1 class="text-uppercase">
          <p class="m-0 text-uppercase">
            <a href="/" class="text-white">HOME</a>
            <span>|</span>
            <a href="javascript:void(0)" class="text-white">
              {% if page.url === '/contact.html' %}CONTACT ME{% endif %}
              {% if page.url === '/about.html' %}ABOUT ME{% endif %}
              {% if page.url === '/one-month-program.html' %}ONE MONTH{% endif %}
              {% if page.url === '/six-months-program.html' %}SIX MONTHS{% endif %}
              {% if page.url === '/three-months-program.html' %}THREE MONTHS{% endif %}
              {% if page.url === '/only-diet-schedule.html' %}ONLY DIET SCHEDULE{% endif %}
              {% if page.url === '/disclaimer.html' %}DISCLAIMER{% endif %}
              {% if page.url === '/privacy-policy.html' %}PRIVACY POLICY{% endif %}
              {% if page.url === '/thank-you.html' %}THANK YOU{% endif %}
            </a>
          </p>
          {% if page.url === '/contact.html' %}CONTACT <span class="text-pink">ME</span>{% endif %}
          {% if page.url === '/about.html' %}ABOUT <span class="text-pink">ME</span>{% endif %}
          {% if page.url === '/one-month-program.html' %}ONE <span class="text-pink">MONTH</span>{% endif %}
          {% if page.url === '/six-months-program.html' %}SIX <span class="text-pink">MONTHS</span>{% endif %}
          {% if page.url === '/three-months-program.html' %}THREE <span class="text-pink">MONTHS</span>{% endif %}
          {% if page.url === '/only-diet-schedule.html' %}ONLY DIET <span class="text-pink">SCHEDULE</span>{% endif %}
          {% if page.url === '/disclaimer.html' %}<span class="text-pink">DISCLAIMER</span>{% endif %}
          {% if page.url === '/privacy-policy.html' %}PRIVACY <span class="text-pink">POLICY</span>{% endif %}
          {% if page.url === '/thank-you.html' %}THANK <span class="text-pink">YOU</span>{% endif %}
        </h1>
      </div>
    </div>

    <div class="banner-scroll-holder"></div>
  </div>

  <!-- social options -->
  {% include "partials/_social.html" %}
  <!-- // social options -->
</div>
<!-- // Banner Overlay Content -->