<!-- Banner Overlay Content -->
<div class="banner-content-elements">
  <!-- title & breadcrumb links -->
  <div class="container content-scoll-wrapper">

    <div class="banner-content-holder">
      <div class="banner-title">
        <h1 class="text-uppercase">
          <p class="m-0 text-uppercase">
            <a href="/" class="text-white">HOME</a>
            <span>|</span>
            <a href="javascript:void(0)" class="text-white">
              {% if page.url === '/contact.html' %}CONTACT ME{% endif %}
              {% if page.url === '/about.html' %}ABOUT ME{% endif %}
              {% if page.url === '/online-coaching.html' %}ONLINE COACHING{% endif %}
              {% if page.url === '/online-and-pt-plus.html' %}ONLINE & PT+{% endif %}
              {% if page.url === '/online-and-pt.html' %}ONLINE & PT{% endif %}
              {% if page.url === '/stage-posing.html' %}STAGE POSING{% endif %}
              {% if page.url === '/disclaimer.html' %}DISCLAIMER{% endif %}
              {% if page.url === '/privacy-policy.html' %}PRIVACY POLICY{% endif %}
            </a>
          </p>
          {% if page.url === '/contact.html' %}CONTACT <span class="text-pink">ME</span>{% endif %}
          {% if page.url === '/about.html' %}ABOUT <span class="text-pink">ME</span>{% endif %}
          {% if page.url === '/online-coaching.html' %}ONLINE <span class="text-pink">COACHING</span>{% endif %}
          {% if page.url === '/online-and-pt-plus.html' %}ONLINE & <span class="text-pink">PT+</span>{% endif %}
          {% if page.url === '/online-and-pt.html' %}ONLINE & <span class="text-pink">PT</span>{% endif %}
          {% if page.url === '/stage-posing.html' %}STAGE <span class="text-pink">POSING</span>{% endif %}
          {% if page.url === '/disclaimer.html' %}<span class="text-pink">DISCLAIMER</span>{% endif %}
          {% if page.url === '/privacy-policy.html' %}PRIVACY <span class="text-pink">POLICY</span>{% endif %}
        </h1>
      </div>
    </div>

    <div class="banner-scroll-holder"></div>
  </div>

  <!-- social options -->
  {% include "partials/_social.html" %}
  <!-- // social options -->
</div>
<!-- // Banner Overlay Content -->