<!--clients section-->
<section class="our-team cardio-outline-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-style-2 pt-5 mt-0 mt-sm-5">
          <h1><b>MY CLIENTS</b></h1>
          <p class="text-uppercase">MEET MY SATISFIED CLIENTS</p>
        </div>
      </div>
    </div>
  </div>
  <div class="our-team-members mt-4 mb-5 swiper-container-initialized swiper-container-horizontal">
    <div class="swiper-wrapper" style="transform: translate3d(-2987.25px, 0px, 0px); transition-duration: 0ms;">
      <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev"
        style="width: 416.75px; margin-right: 10px;" data-swiper-slide-index="2">
        <div class="team-member-block">
          <div class="d-flex align-items-start">
            <div class="team-member-info">
              <div class="member-count text-right">03</div>
              <img loading="lazy" src="./assets/img/team-member-3.jpg" alt="FF Fit" class="mw-100">
              <div class="joining-date text-uppercase">
                <span>Joined : Febrary 2012</span>
              </div>
              <div class="member-info text-left">
                <div class="name-expertise">
                  <h3 class="m-0">Ruth Edwards</h3>
                  <p class="my-2"><span class="indicator mr-2" style="border-color:#00a2ff;"></span>weight trainer
                  </p>
                </div>
                <img loading="lazy" src="./assets/img/arrow-long.svg" alt="FF Fit" height="20" class="mw-100">
              </div>
            </div>
            <div class="text-uppercase member-experience">
              14 year experience
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active"
        style="width: 416.75px; margin-right: 10px;" data-swiper-slide-index="3">
        <div class="team-member-block">
          <div class="d-flex align-items-start">
            <div class="team-member-info">
              <div class="member-count text-right">04</div>
              <img loading="lazy" src="./assets/img/team-member-4.jpg" alt="FF Fit" class="mw-100">
              <div class="joining-date text-uppercase">
                <span>Joined : Febrary 2012</span>
              </div>
              <div class="member-info text-left">
                <div class="name-expertise">
                  <h3 class="m-0">Andru Backham</h3>
                  <p class="my-2"><span class="indicator mr-2" style="border-color:#7800ff;"></span>sports trainer
                  </p>
                </div>
                <img loading="lazy" src="./assets/img/arrow-long.svg" alt="FF Fit" height="20" class="mw-100">
              </div>
            </div>
            <div class="text-uppercase member-experience">
              14 year experience
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next"
        style="width: 416.75px; margin-right: 10px;" data-swiper-slide-index="4">
        <div class="team-member-block">
          <div class="d-flex align-items-start">
            <div class="team-member-info">
              <div class="member-count text-right">01</div>
              <img loading="lazy" src="./assets/img/team-member-1.jpg" alt="FF Fit" class="mw-100">
              <div class="joining-date text-uppercase">
                <span>Joined : Febrary 2012</span>
              </div>
              <div class="member-info text-left">
                <div class="name-expertise">
                  <h3 class="m-0">Bruce Bailey</h3>
                  <p class="my-2"><span class="indicator mr-2" style="border-color:#00ff5b;"></span>circuit trainer
                  </p>
                </div>
                <img loading="lazy" src="./assets/img/arrow-long.svg" alt="FF Fit" height="20" class="mw-100">
              </div>
            </div>
            <div class="text-uppercase member-experience">
              14 year experience
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide swiper-slide-duplicate" style="width: 416.75px; margin-right: 10px;"
        data-swiper-slide-index="5">
        <div class="team-member-block">
          <div class="d-flex align-items-start">
            <div class="team-member-info">
              <div class="member-count text-right">02</div>
              <img loading="lazy" src="./assets/img/team-member-2.jpg" alt="FF Fit" class="mw-100">
              <div class="joining-date text-uppercase">
                <span>Joined : Febrary 2012</span>
              </div>
              <div class="member-info text-left">
                <div class="name-expertise">
                  <h3 class="m-0">Samurai Ninja</h3>
                  <p class="my-2"><span class="indicator mr-2" style="border-color:#ff6c00;"></span>fintess trainer
                  </p>
                </div>
                <img loading="lazy" src="./assets/img/arrow-long.svg" alt="FF Fit" height="20" class="mw-100">
              </div>
            </div>
            <div class="text-uppercase member-experience">
              14 year experience
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide" style="width: 416.75px; margin-right: 10px;" data-swiper-slide-index="0">
        <div class="team-member-block">
          <div class="d-flex align-items-start">
            <div class="team-member-info">
              <div class="member-count text-right">01</div>
              <img loading="lazy" src="./assets/img/team-member-1.jpg" alt="FF Fit" class="mw-100">
              <div class="joining-date text-uppercase">
                <span>Joined : Febrary 2012</span>
              </div>
              <div class="member-info text-left">
                <div class="name-expertise">
                  <h3 class="m-0">Bruce Bailey</h3>
                  <p class="my-2"><span class="indicator mr-2" style="border-color:#00ff5b;"></span>circuit trainer
                  </p>
                </div>
                <img loading="lazy" src="./assets/img/arrow-long.svg" alt="FF Fit" height="20" class="mw-100">
              </div>
            </div>
            <div class="text-uppercase member-experience">
              14 year experience
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide" style="width: 416.75px; margin-right: 10px;" data-swiper-slide-index="1">
        <div class="team-member-block">
          <div class="d-flex align-items-start">
            <div class="team-member-info">
              <div class="member-count text-right">02</div>
              <img loading="lazy" src="./assets/img/team-member-2.jpg" alt="FF Fit" class="mw-100">
              <div class="joining-date text-uppercase">
                <span>Joined : Febrary 2012</span>
              </div>
              <div class="member-info text-left">
                <div class="name-expertise">
                  <h3 class="m-0">Samurai Ninja</h3>
                  <p class="my-2"><span class="indicator mr-2" style="border-color:#ff6c00;"></span>fintess trainer
                  </p>
                </div>
                <img loading="lazy" src="./assets/img/arrow-long.svg" alt="FF Fit" height="20" class="mw-100">
              </div>
            </div>
            <div class="text-uppercase member-experience">
              14 year experience
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide swiper-slide-prev" style="width: 416.75px; margin-right: 10px;"
        data-swiper-slide-index="2">
        <div class="team-member-block">
          <div class="d-flex align-items-start">
            <div class="team-member-info">
              <div class="member-count text-right">03</div>
              <img loading="lazy" src="./assets/img/team-member-3.jpg" alt="FF Fit" class="mw-100">
              <div class="joining-date text-uppercase">
                <span>Joined : Febrary 2012</span>
              </div>
              <div class="member-info text-left">
                <div class="name-expertise">
                  <h3 class="m-0">Ruth Edwards</h3>
                  <p class="my-2"><span class="indicator mr-2" style="border-color:#00a2ff;"></span>weight trainer
                  </p>
                </div>
                <img loading="lazy" src="./assets/img/arrow-long.svg" alt="FF Fit" height="20" class="mw-100">
              </div>
            </div>
            <div class="text-uppercase member-experience">
              14 year experience
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide swiper-slide-active" style="width: 416.75px; margin-right: 10px;"
        data-swiper-slide-index="3">
        <div class="team-member-block">
          <div class="d-flex align-items-start">
            <div class="team-member-info">
              <div class="member-count text-right">04</div>
              <img loading="lazy" src="./assets/img/team-member-4.jpg" alt="FF Fit" class="mw-100">
              <div class="joining-date text-uppercase">
                <span>Joined : Febrary 2012</span>
              </div>
              <div class="member-info text-left">
                <div class="name-expertise">
                  <h3 class="m-0">Andru Backham</h3>
                  <p class="my-2"><span class="indicator mr-2" style="border-color:#7800ff;"></span>sports trainer
                  </p>
                </div>
                <img loading="lazy" src="./assets/img/arrow-long.svg" alt="FF Fit" height="20" class="mw-100">
              </div>
            </div>
            <div class="text-uppercase member-experience">
              14 year experience
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide swiper-slide-next" style="width: 416.75px; margin-right: 10px;"
        data-swiper-slide-index="4">
        <div class="team-member-block">
          <div class="d-flex align-items-start">
            <div class="team-member-info">
              <div class="member-count text-right">01</div>
              <img loading="lazy" src="./assets/img/team-member-1.jpg" alt="FF Fit" class="mw-100">
              <div class="joining-date text-uppercase">
                <span>Joined : Febrary 2012</span>
              </div>
              <div class="member-info text-left">
                <div class="name-expertise">
                  <h3 class="m-0">Bruce Bailey</h3>
                  <p class="my-2"><span class="indicator mr-2" style="border-color:#00ff5b;"></span>circuit trainer
                  </p>
                </div>
                <img loading="lazy" src="./assets/img/arrow-long.svg" alt="FF Fit" height="20" class="mw-100">
              </div>
            </div>
            <div class="text-uppercase member-experience">
              14 year experience
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide" style="width: 416.75px; margin-right: 10px;" data-swiper-slide-index="5">
        <div class="team-member-block">
          <div class="d-flex align-items-start">
            <div class="team-member-info">
              <div class="member-count text-right">02</div>
              <img loading="lazy" src="./assets/img/team-member-2.jpg" alt="FF Fit" class="mw-100">
              <div class="joining-date text-uppercase">
                <span>Joined : Febrary 2012</span>
              </div>
              <div class="member-info text-left">
                <div class="name-expertise">
                  <h3 class="m-0">Samurai Ninja</h3>
                  <p class="my-2"><span class="indicator mr-2" style="border-color:#ff6c00;"></span>fintess trainer
                  </p>
                </div>
                <img loading="lazy" src="./assets/img/arrow-long.svg" alt="FF Fit" height="20" class="mw-100">
              </div>
            </div>
            <div class="text-uppercase member-experience">
              14 year experience
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide swiper-slide-duplicate" style="width: 416.75px; margin-right: 10px;"
        data-swiper-slide-index="0">
        <div class="team-member-block">
          <div class="d-flex align-items-start">
            <div class="team-member-info">
              <div class="member-count text-right">01</div>
              <img loading="lazy" src="./assets/img/team-member-1.jpg" alt="FF Fit" class="mw-100">
              <div class="joining-date text-uppercase">
                <span>Joined : Febrary 2012</span>
              </div>
              <div class="member-info text-left">
                <div class="name-expertise">
                  <h3 class="m-0">Bruce Bailey</h3>
                  <p class="my-2"><span class="indicator mr-2" style="border-color:#00ff5b;"></span>circuit trainer
                  </p>
                </div>
                <img loading="lazy" src="./assets/img/arrow-long.svg" alt="FF Fit" height="20" class="mw-100">
              </div>
            </div>
            <div class="text-uppercase member-experience">
              14 year experience
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide swiper-slide-duplicate" style="width: 416.75px; margin-right: 10px;"
        data-swiper-slide-index="1">
        <div class="team-member-block">
          <div class="d-flex align-items-start">
            <div class="team-member-info">
              <div class="member-count text-right">02</div>
              <img loading="lazy" src="./assets/img/team-member-2.jpg" alt="FF Fit" class="mw-100">
              <div class="joining-date text-uppercase">
                <span>Joined : Febrary 2012</span>
              </div>
              <div class="member-info text-left">
                <div class="name-expertise">
                  <h3 class="m-0">Samurai Ninja</h3>
                  <p class="my-2"><span class="indicator mr-2" style="border-color:#ff6c00;"></span>fintess trainer
                  </p>
                </div>
                <img loading="lazy" src="./assets/img/arrow-long.svg" alt="FF Fit" height="20" class="mw-100">
              </div>
            </div>
            <div class="text-uppercase member-experience">
              14 year experience
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev"
        style="width: 416.75px; margin-right: 10px;" data-swiper-slide-index="2">
        <div class="team-member-block">
          <div class="d-flex align-items-start">
            <div class="team-member-info">
              <div class="member-count text-right">03</div>
              <img loading="lazy" src="./assets/img/team-member-3.jpg" alt="FF Fit" class="mw-100">
              <div class="joining-date text-uppercase">
                <span>Joined : Febrary 2012</span>
              </div>
              <div class="member-info text-left">
                <div class="name-expertise">
                  <h3 class="m-0">Ruth Edwards</h3>
                  <p class="my-2"><span class="indicator mr-2" style="border-color:#00a2ff;"></span>weight trainer
                  </p>
                </div>
                <img loading="lazy" src="./assets/img/arrow-long.svg" alt="FF Fit" height="20" class="mw-100">
              </div>
            </div>
            <div class="text-uppercase member-experience">
              14 year experience
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active"
        style="width: 416.75px; margin-right: 10px;" data-swiper-slide-index="3">
        <div class="team-member-block">
          <div class="d-flex align-items-start">
            <div class="team-member-info">
              <div class="member-count text-right">04</div>
              <img loading="lazy" src="./assets/img/team-member-4.jpg" alt="FF Fit" class="mw-100">
              <div class="joining-date text-uppercase">
                <span>Joined : Febrary 2012</span>
              </div>
              <div class="member-info text-left">
                <div class="name-expertise">
                  <h3 class="m-0">Andru Backham</h3>
                  <p class="my-2"><span class="indicator mr-2" style="border-color:#7800ff;"></span>sports trainer
                  </p>
                </div>
                <img loading="lazy" src="./assets/img/arrow-long.svg" alt="FF Fit" height="20" class="mw-100">
              </div>
            </div>
            <div class="text-uppercase member-experience">
              14 year experience
            </div>
          </div>
        </div>
      </div>
    </div>
    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
  </div>
</section>
<!--// clients section-->