<!-- footer -->
<footer>

  <!-- footer -->
  <div class="footer text-white py-5">
    <div class="container">
      <div class="row py-3">
        <div class="col-md-5 footer-quick-contact py-3 py-sm-3 py-md-5">
          <h3>Quick Contact</h3>
          <h4>Let’s talk fitness first!</h4>
          <h1>123 456 7890</h1>
          <p>Technology is great, <br>but somethimes it's just nice to talk to a real person.</p>
        </div>
        <div class="col-md-4 useful-links py-3 py-sm-3 py-md-5">
          <h3>Useful Links</h3>
          <ul>
            <li><a href="javascript:void(0)">Home</a></li>
            <li>
              <a href="javascript:void(0)"></a><a href="javascript:void(0)">Meet the Team</a>
            </li>
            <li><a href="javascript:void(0)">Client Success Stories</a></li>
            <li><a href="javascript:void(0)">Experience Matters</a></li>
          </ul>
        </div>
        <div class="col-md-3 get-in-touch py-3 py-sm-3 py-md-5">
          <h3>Get In Touch</h3>
          <ul>
            <li><a href="/">Fit your self</a></li>
            <li><a href="/">Read Blog</a></li>
            <li><a href="/">Popular Links</a></li>
            <li>
              <ul class="social-links">
                <li><a href="{{socialLinks.facebook.link}}" title="{{socialLinks.facebook.label}}"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="{{socialLinks.instagram.link}}" title="{{socialLinks.instagram.label}}"><i class="fab fa-instagram"></i></a></li>
                <li><a href="{{socialLinks.youtube.link}}" title="{{socialLinks.youtube.label}}"><i class="fab fa-youtube"></i></a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- /.footer -->
  <!-- bottom footer -->
  <div class="bottom-footer">
    <div class="container bottom-footer-in">
      <a href="/" class="footer-brand">
        <img src="./assets/img/footer-logo.png" alt="FF Fit" class="mw-100">
      </a>
      <div class="copyright-declaration">
        <a href="https://gsin.in">FitManny.uk by gsin.in</a>
      </div>
    </div>
  </div>
  <!-- SCROLL TO TOP -->
  <a class="move-top off" id="moveTop">
    <i class="fas fa-arrow-up"></i>
  </a>
  <!-- /.bottom footer -->
</footer>
<!-- /.footer -->