<!-- footer -->
<footer>

  <!-- footer -->
  <div class="footer text-white py-5">
    <div class="container">
      <div class="row py-3">
        <div class="col-md-6 useful-links py-3 py-sm-3 py-md-5">
          <h3>Services</h3>
          <ul>
            {%- for program in programs -%}
            <li><a href="{{program.link}}">{{program.name}}</a></li>
            {%- endfor -%}
          </ul>
        </div>
        <div class="col-md-6 get-in-touch py-3 py-sm-3 py-md-5">
          <h3>Get In Touch</h3>
          <ul>
            <li><a href="/about.html">About</a></li>
            <li><a href="/contact.html">Contact</a></li>
            <li><a href="/disclaimer.html">Disclaimer</a></li>
            <li><a href="/privacy-policy.html">Privacy Policy</a></li>
            <li>
              <ul class="social-links">
                <li><a href="{{socialLinks.instagram.link}}" title="{{socialLinks.instagram.label}}" target="_blank"><i
                      class="fab fa-instagram"></i></a></li>
                <li><a href="{{socialLinks.youtube.link}}" title="{{socialLinks.youtube.label}}" target="_blank"><i
                      class="fab fa-youtube"></i></a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- /.footer -->
  <!-- bottom footer -->
  <div class="bottom-footer">
    <div class="container bottom-footer-in">
      <a href="/" class="footer-brand">
        <img loading="lazy" src="./assets/img/footer-logo.png" alt="FF Fit" class="mw-100">
      </a>
      <div class="copyright-declaration">
        FitManny.uk &copy; 2021 - 2023
      </div>
    </div>
  </div>
  <!-- SCROLL TO TOP -->
  <a class="move-top off" id="moveTop">
    <i class="fas fa-arrow-up"></i>
  </a>
  <!-- /.bottom footer -->
</footer>
<!-- /.footer -->