  <!-- gallery section -->
  <div class="gallery-section-title">
    <div class="container pt-5">
      <div class="row">
        <div class="col-md-12">
          <div class="title-style-2 py-2 py-sm-5">
            <h1 class="text-uppercase"><b>Gallery</b></h1>
            <p>Get overview of our center with some of the clicks of center</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="our-gallery text-white">
    <div class="gallery-testimonial">
      <img loading="lazy" src="../assets/img/gallery-testimonial-1.jpg" alt="FF Fit" class="mw-100">
      <div class="gallery-testimonial-info-holder">
        <div class="gallery-testimonial-info">
          <h4 class="text-uppercase">Manpreet Singh</h4>
          <span class="text-uppercase">Professional Athlete</span>
          <p>The best fitness coach you ever imagine</p>
        </div>
      </div>
    </div>
    <div class="gallery-shots">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="gallery-block">
            <a data-fancybox="images" href="../assets/img/gallery/gallery-shot-1-full.jpg"><img loading="lazy" src="../assets/img/gallery/gallery-shot-1.jpg" alt="FF Fit" class="mw-100"></a>
          </div>
          <div class="gallery-block">
            <a data-fancybox="images" href="../assets/img/gallery/gallery-shot-2-full.jpg"><img loading="lazy" src="../assets/img/gallery/gallery-shot-2.jpg" alt="FF Fit" class="mw-100"></a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="gallery-block">
            <a data-fancybox="images" href="../assets/img/gallery/gallery-shot-3-full.jpg"><img loading="lazy" src="../assets/img/gallery/gallery-shot-3.jpg" alt="FF Fit" class="mw-100"></a>
          </div>
          <div class="gallery-block">
            <a data-fancybox="images" href="../assets/img/gallery/gallery-shot-4-full.jpg"><img loading="lazy" src="../assets/img/gallery/gallery-shot-4.jpg" alt="FF Fit" class="mw-100"></a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="gallery-block">
            <a data-fancybox="images" href="../assets/img/gallery/gallery-shot-5-full.jpg"><img loading="lazy" src="../assets/img/gallery/gallery-shot-5.jpg" alt="FF Fit" class="mw-100"></a>
          </div>
          <div class="gallery-block">
            <a data-fancybox="images" href="../assets/img/gallery/gallery-shot-6-full.jpg"><img loading="lazy" src="../assets/img/gallery/gallery-shot-6.jpg" alt="FF Fit" class="mw-100"></a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="gallery-block">
            <a data-fancybox="images" href="../assets/img/gallery/gallery-shot-3-full.jpg"><img loading="lazy" src="../assets/img/gallery/gallery-shot-3.jpg" alt="FF Fit" class="mw-100"></a>
          </div>
          <div class="gallery-block">
            <a data-fancybox="images" href="../assets/img/gallery/gallery-shot-4-full.jpg"><img loading="lazy" src="../assets/img/gallery/gallery-shot-4.jpg" alt="FF Fit" class="mw-100"></a>
          </div>
        </div>
      </div>
    </div>
  </section>
<!--// gallery section -->