<!-- Header -->
<header>

  <!-- nevigation bar -->
  <nav class="fixed-top web-navbar">
    <div class="row">

      <!-- web menu action -->
      <div class="col-md-4 col-sm-3 col-3 d-flex justify-content-start web-menu-action">
        <button class="btn btn-outline-primary btn-overlay-menu" id="overlayMenuAction">
          <img src="./assets/img/menu.svg" alt="FF Fit" class="mw-100">
        </button>
      </div>

      <!-- web brand -->
      <div class="col-md-4 col-sm-4 col-6 text-center d-flex justify-content-center web-brand">
        <a href="/index.html"><img src="./assets/img/logo.png" alt="FF Fit"
            class="mw-100"></a>
      </div>

      <!-- quick joining action -->
      <!-- <div class="col-md-4 col-sm-5 col-3 d-inline-flex justify-content-end align-items-start">
        <a href="javascript:void(0)" class="link-joining-program">
          <span class="text-uppercase">Join the <br>FF-FIT family</span>
          <i class="fas fa-angle-right"></i>
        </a>
      </div> -->

    </div>
  </nav>
  <div class="FF-FIT-menu" id="FF-FITMenu">
    <div class="FF-FIT-menu-content">
      <a href="javascript:void(0);" class="FF-FIT-menu-close" id="FF-FITMenuClose">
        <img src="./assets/img/close.svg" alt="FF Fit" class="mw-100">
      </a>
      <div class="menu-options-list">
        <a href="/index.html" class="active">Home</a>
        <a href="/about.html" class="">About Us</a>
        <a href="/services.html" class="">Our Services</a>
        <a href="/team.html" class="">Our Team</a>
        <a href="/blog.html" class="">Blog</a>
        <a href="/pricing.html" class="">Pricing</a>
        <a href="/contact.html" class="">Contact Us</a>
      </div>
      <div class="social-copyright">
        <div class="d-flex">
          <a href="/"><i class="fab fa-facebook-f"></i></a>
          <a href="/"><i class="fab fa-instagram"></i></a>
          <a href="/"><i class="fab fa-snapchat-ghost"></i></a>
          <a href="/"><i class="fab fa-youtube"></i></a>
        </div>
        <p class="copyright-text">© FitManny.uk all rights reserved. <br><a href="javascript:"> FitManny.uk by gsin.in</a>
        </p>
      </div>
    </div>
  </div>

        <!-- banner -->
        <section class="banner">
	
          <!-- Banner Carousel [Swiper] -->
          <div class="swiper-container banner-swiper">
            <!-- carousel items/slides -->
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="./assets/img/banner-1.jpg" alt="FF Fit" class="mw-100"></div>
                <div class="swiper-slide"><img src="./assets/img/banner-2.jpg" alt="FF Fit" class="mw-100"></div>
                <div class="swiper-slide"><img src="./assets/img/banner-1.jpg" alt="FF Fit" class="mw-100"></div>
                <div class="swiper-slide"><img src="./assets/img/banner-2.jpg" alt="FF Fit" class="mw-100"></div>
            </div>
            <!-- arrows/pagination -->
            <div class="d-flex align-items-center justify-content-center">
              <a href="javascript:void(0)" id="banner-prev"><img src="./assets/img/prev-arrow.svg" alt="FF Fit" width="50" class="mw-100"></a>
              <span class="current-slide-count">1</span>
              <a href="javascript:void(0)" id="banner-nxt"><img src="./assets/img/nxt-arrow.svg" alt="FF Fit" width="50" class="mw-100"></a>
            </div>
          </div>
          <!-- // Banner Carousel [Swiper] -->


    <!-- Banner Overlay Content -->
    <div class="banner-content-elements">
      <div class="container content-scoll-wrapper">

        <div class="banner-content-holder">
          <!-- title text -->
          <div class="banner-title">
            <h1 class="text-uppercase">
              <p class="m-0">AUSTRALIA'S FIRST CHAIN OF LUXE PERSONAL TRAINING STUDIOS</p>
              WELCOME TO THE <br>WORLD <span class="text-pink">OF</span> RESULTS
            </h1>
          </div>
          <!-- play button -->
          <div class="banner-degital-intro position-relative">
            <a class="degital-intro-btn" data-fancybox="" href="/./assets/img/video.mp4">
              <i class="fas fa-play"></i>
            </a>
          </div>
          <!-- carousel actions -->
          <div class="banner-swiper-action">
            <div class="banner-left-nav" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="false">
              <a href="javascript:void(0)">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                  y="0px" viewBox="0 0 403.8 110.6" style="enable-background:new 0 0 403.8 110.6;" xml:space="preserve">
                  <style type="text/css">
                    .st0 {
                      fill: #EF0060;
                    }
                  </style>
                  <g>
                    <g>
                      <path class="st0" d="M5.8,0L2.9,2.9C1,4.8,0,7.4,0,9.9c0,2.5,1,5.1,2.9,7l90.8,90.8c3.9,3.9,10.1,3.9,14,0c3.9-3.9,3.9-10.1,0-14
                    L33.8,19.8h360.1c5.5,0,9.9-4.4,9.9-9.9S399.4,0,393.9,0L33.8,0"></path>
                    </g>
                  </g>
                </svg>
              </a>
            </div>
            <div class="banner-pagination">03</div>
            <div class="banner-right-nav" tabindex="0" role="button" aria-label="Next slide" aria-disabled="false">
              <a href="javascript:void(0)">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                  y="0px" viewBox="0 0 403.8 110.6" style="enable-background:new 0 0 403.8 110.6;" xml:space="preserve">
                  <style type="text/css">
                    .st0 {
                      fill: #EF0060;
                    }
                  </style>
                  <g>
                    <g>
                      <path class="st0" d="M370,110.6H9.9c-5.5,0-9.9-4.4-9.9-9.9c0-5.5,4.4-9.9,9.9-9.9H370l-73.9-73.9c-3.9-3.9-3.9-10.1,0-14
                    s10.1-3.9,14,0l90.8,90.8c1.9,1.9,2.9,4.5,2.9,7s-1,5.1-2.9,7l-2.9,2.9"></path>
                    </g>
                  </g>
                </svg>
              </a>
            </div>
          </div>
          <!-- carousel progress indicator -->
          <div class="banner-swiper-progress">
            <div class="banner-current-count">03</div>
            <div class="banner-progress-indicator">
              <div class="banner-progress" id="progress" style="width: 100%;"></div>
            </div>
            <div class="banner-total-count">04</div>
          </div>
        </div>

        <div class="banner-statistics-holder">

          <!-- statistics -->
          <div class="row text-white">
            <div class="col-md-4 d-none d-md-block">
              <div class="banner-statistics-block">
                <div class="block-states">
                  234
                </div>
                <div class="block-lbl">
                  <label>Celebrities <br>Trained</label>
                </div>
              </div>
            </div>
            <div class="col-md-4 d-none d-md-block banner-statistics-seprator position-relative">
              <div class="banner-statistics-block">
                <div class="block-states">
                  300<span class="text-pink">+</span>
                </div>
                <div class="block-lbl">
                  <label>Bodies <br>Transformed</label>
                </div>
              </div>
            </div>
            <div class="col-md-4 d-none d-md-block">
              <div class="banner-statistics-block">
                <div class="block-states">
                  24<span class="text-pink">/</span>7
                </div>
                <div class="block-lbl">
                  <label>We work global with <br>our online training</label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="banner-scroll-holder">

          <div class="scroll-holder-lbl">
            <p>Scroll</p>
          </div>
          <!-- section scroll action -->
          <div class="mouse-scroll">
            <a href="/#aboutUs">
              <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
                style="enable-background:new 0 0 512 512;" xml:space="preserve">
                <g>
                  <g>
                    <path d="M256,0C156.6,0,75.7,82.1,75.7,183.1v145.8c0,101,80.9,183.1,180.3,183.1s180.3-81.9,180.3-182.5V183.1
                  C436.3,82.1,355.4,0,256,0z M402.4,329.5c0,82-65.7,148.6-146.4,148.6s-146.4-66.9-146.4-149.2V183.1
                  c0-82.3,65.7-149.2,146.4-149.2s146.4,66.9,146.4,149.2V329.5z"></path>
                  </g>
                </g>
                <g>
                  <g>
                    <path
                      d="M256,140.1c-9.4,0-17,7.6-17,17v59.3c0,9.4,7.6,17,17,17c9.4,0,17-7.6,17-17v-59.3C273,147.7,265.4,140.1,256,140.1z">
                    </path>
                  </g>
                </g>
                <g>
                  <g>
                    <path d="M277.2,329.5c0-2.4-2.5-4.4-5.6-4.4c-8.5,0-24.7,0-33.2,0c-3.1,0-5.6,2-5.6,4.4s2.5,4.4,5.6,4.4c8.5,0,24.7,0,33.2,0
                  C274.7,333.9,277.2,331.9,277.2,329.5z"></path>
                    <path
                      d="M268.5,511c0-22.7,0-98.8,0-107.3c16.2,0,31.5,0,42.4,0c9.2,0,16.7-6.6,16.7-14.8c0-8.1-7.5-14.8-16.7-14.8
                  c-27.9,0-83.8,0-111.7,0c-9.2,0-16.7,6.6-16.7,14.7s7.5,14.8,16.7,14.8c11,0,26.2,0,42.4,0c0,8.5,0,84.6,0,107.3">
                    </path>
                    <path d="M305.3,351.8c0-0.5,0-1,0-1.4c0-6.1-5-11.1-11.1-11.1c-19.3,0-59,0-78.3,0c-6.1,0-11.1,5-11.1,11.1c0,0.5,0,1,0,1.4
                  c0,6.1,5,11.1,11.1,11.1c19.3,0,59,0,78.3,0C300.3,363,305.3,358,305.3,351.8z"></path>
                  </g>
                </g>
              </svg>
            </a>
          </div>
        </div>

      </div>

      <!-- social options -->
      <div class="banner-social-holder">
        <ul class="social-opts">
          <li class="text-uppercase list-label">Share</li>
          <li class="dash"></li>
          <li>
            <a href="javascript:void(0)">
              <i class="fab fa-facebook-f"></i>
              <div class="tooltip-info text-uppercase">Facebook</div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="fab fa-twitter"></i>
              <div class="tooltip-info text-uppercase">Twitter</div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="fab fa-instagram"></i>
              <div class="tooltip-info text-uppercase">Instagram</div>
            </a>
          </li>
        </ul>
        <div class="banner-exlplore-opt">
          <a href="javascript:void(0)" class="text-uppercase">Explore</a>
        </div>
      </div>

    </div>
    <!-- // Banner Carousel [Swiper] Content -->
  </section>

</header>
<!-- /.Header -->