<!--locaiton map section-->
<section class="location-map pt-lg-5">
  <iframe class="overflow-hidden w-100 mw-100" width="200"
    src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d3316.6401897000674!2d151.1109802!3d-33.7699626!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1571487136444!5m2!1sen!2sin"
    height="800" style="border:0;" allowfullscreen=""></iframe>
  <div class="container">
    <div class="available-addresses py-5 p-sm-5">
      <div class="address-block">
        <div>
          <img loading="lazy" src="./assets/img/location.svg" alt="FF Fit" width="85px" class="mw-100">
        </div>
        <div class="text-white ml-sm-5 ml-0">
          <h6>Sydney</h6>
          <p>Shop 5, 78-88 Tench Avenue Jamisontown 2750 NSW</p>
        </div>
      </div>
      <div class="address-block">
        <div>
          <img loading="lazy" src="./assets/img/location.svg" alt="FF Fit" width="85px" class="mw-100">
        </div>
        <div class="text-white ml-sm-5 ml-0">
          <h6>Melbourne</h6>
          <p class="m-0">Shop 5, 78-88 Tench Avenue Jamisontown 2750 NSW</p>
        </div>
      </div>
    </div>
  </div>

</section>