<!--class schedule section-->
<section class="class-schedule">
  <div class="container class-schedule-timetable">
    <div class="row">
      <div class="col-md-12">
        <div class="title-style-3 pt-5 mt-5 text-white text-center">
          <h1><b>Class Schedule</b></h1>
          <p>Make yourself stronger than your excuses.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-12">
        <div class="weekly-timetable text-white pt-5">
          <ul class="nav nav-pills weekly-days-nav">
            <li class="nav-item week-day">
              <a class="nav-link" data-toggle="tab" href="/#monday-schedule">Monday</a>
            </li>
            <li class="nav-item week-day">
              <a class="nav-link" data-toggle="tab" href="/#tuesday-schedule">Tuesday</a>
            </li>
            <li class="nav-item week-day">
              <a class="nav-link" data-toggle="tab" href="/#wednesday-schedule">Wednesday</a>
            </li>
            <li class="nav-item week-day">
              <a class="nav-link active" data-toggle="tab" href="/#thursday-schedule">Thursday</a>
            </li>
            <li class="nav-item week-day">
              <a class="nav-link" data-toggle="tab" href="/#friday-schedule">Friday</a>
            </li>
            <li class="nav-item week-day">
              <a class="nav-link" data-toggle="tab" href="/#saturday-schedule">Saturday</a>
            </li>
            <li class="nav-item week-day">
              <a class="nav-link" data-toggle="tab" href="/#sunday-schedule">Sunday</a>
            </li>
          </ul>
          <div class="tab-content timetable-schedule">
            <div class="tab-pane container fade p-0" id="monday-schedule">
              <div class="weekday-schedule pt-4">
                <div class="class-batch-block text-uppercase">
                  <h4><span class="text-pink">B</span>oxing</h4>
                  <p>06.00AM - 07.00AM</p>
                </div>
                <div class="class-batch-block text-uppercase">
                  <h4>-----</h4>
                  <p>06.00AM - 07.00AM</p>
                </div>
                <div class="class-batch-block text-uppercase">
                  <h4><span class="text-pink">B</span>ody building</h4>
                  <p>06.00AM - 07.00AM</p>
                </div>
                <div class="class-batch-block text-uppercase active">
                  <h4><span class="text-pink">B</span>oxing</h4>
                  <p>06.00AM - 07.00AM</p>
                </div>
                <div class="class-batch-block text-uppercase">
                  <h4>-----</h4>
                  <p>06.00AM - 07.00AM</p>
                </div>
                <div class="class-batch-block text-uppercase">
                  <h4>-----</h4>
                  <p>06.00AM - 07.00AM</p>
                </div>
                <div class="class-batch-block text-uppercase">
                  <h4><span class="text-pink">F</span>itness</h4>
                  <p>06.00AM - 07.00AM</p>
                </div>
                <div class="class-batch-block text-uppercase">
                  <h4><span class="text-pink">C</span>ardio</h4>
                  <p>06.00AM - 07.00AM</p>
                </div>
                <div class="class-batch-block text-uppercase">
                  <h4>-----</h4>
                  <p>06.00AM - 07.00AM</p>
                </div>
                <div class="class-batch-block text-uppercase">
                  <h4><span class="text-pink">C</span>arate</h4>
                  <p>06.00AM - 07.00AM</p>
                </div>
              </div>
            </div>
            <div class="tab-pane container fade p-0" id="tuesday-schedule">
              <div class="weekday-schedule pt-4">
                <div class="class-batch-block text-uppercase">
                  <h4><span class="text-pink">B</span>oxing</h4>
                  <p>06.00AM - 07.00AM</p>
                </div>
                <div class="class-batch-block text-uppercase">
                  <h4>-----</h4>
                  <p>06.00AM - 07.00AM</p>
                </div>
                <div class="class-batch-block text-uppercase">
                  <h4><span class="text-pink">B</span>ody building</h4>
                  <p>06.00AM - 07.00AM</p>
                </div>
                <div class="class-batch-block text-uppercase active">
                  <h4><span class="text-pink">B</span>oxing</h4>
                  <p>06.00AM - 07.00AM</p>
                </div>
                <div class="class-batch-block text-uppercase">
                  <h4>-----</h4>
                  <p>06.00AM - 07.00AM</p>
                </div>
                <div class="class-batch-block text-uppercase">
                  <h4>-----</h4>
                  <p>06.00AM - 07.00AM</p>
                </div>
                <div class="class-batch-block text-uppercase">
                  <h4><span class="text-pink">F</span>itness</h4>
                  <p>06.00AM - 07.00AM</p>
                </div>
                <div class="class-batch-block text-uppercase">
                  <h4><span class="text-pink">C</span>ardio</h4>
                  <p>06.00AM - 07.00AM</p>
                </div>
                <div class="class-batch-block text-uppercase">
                  <h4>-----</h4>
                  <p>06.00AM - 07.00AM</p>
                </div>
                <div class="class-batch-block text-uppercase">
                  <h4><span class="text-pink">C</span>arate</h4>
                  <p>06.00AM - 07.00AM</p>
                </div>
              </div>
            </div>
            <div class="tab-pane container fade p-0" id="wednesday-schedule">
              <div class="weekday-schedule pt-4">
                <div class="class-batch-block text-uppercase">
                  <h4><span class="text-pink">B</span>oxing</h4>
                  <p>06.00AM - 07.00AM</p>
                </div>
                <div class="class-batch-block text-uppercase">
                  <h4>-----</h4>
                  <p>06.00AM - 07.00AM</p>
                </div>
                <div class="class-batch-block text-uppercase">
                  <h4><span class="text-pink">B</span>ody building</h4>
                  <p>06.00AM - 07.00AM</p>
                </div>
                <div class="class-batch-block text-uppercase active">
                  <h4><span class="text-pink">B</span>oxing</h4>
                  <p>06.00AM - 07.00AM</p>
                </div>
                <div class="class-batch-block text-uppercase">
                  <h4>-----</h4>
                  <p>06.00AM - 07.00AM</p>
                </div>
                <div class="class-batch-block text-uppercase">
                  <h4>-----</h4>
                  <p>06.00AM - 07.00AM</p>
                </div>
                <div class="class-batch-block text-uppercase">
                  <h4><span class="text-pink">F</span>itness</h4>
                  <p>06.00AM - 07.00AM</p>
                </div>
                <div class="class-batch-block text-uppercase">
                  <h4><span class="text-pink">C</span>ardio</h4>
                  <p>06.00AM - 07.00AM</p>
                </div>
                <div class="class-batch-block text-uppercase">
                  <h4>-----</h4>
                  <p>06.00AM - 07.00AM</p>
                </div>
                <div class="class-batch-block text-uppercase">
                  <h4><span class="text-pink">C</span>arate</h4>
                  <p>06.00AM - 07.00AM</p>
                </div>
              </div>
            </div>
            <div class="tab-pane container fade p-0" id="thursday-schedule">
              <div class="weekday-schedule pt-4">
                <div class="class-batch-block text-uppercase">
                  <h4><span class="text-pink">B</span>oxing</h4>
                  <p>06.00AM - 07.00AM</p>
                </div>
                <div class="class-batch-block text-uppercase">
                  <h4>-----</h4>
                  <p>06.00AM - 07.00AM</p>
                </div>
                <div class="class-batch-block text-uppercase">
                  <h4><span class="text-pink">B</span>ody building</h4>
                  <p>06.00AM - 07.00AM</p>
                </div>
                <div class="class-batch-block text-uppercase active">
                  <h4><span class="text-pink">B</span>oxing</h4>
                  <p>06.00AM - 07.00AM</p>
                </div>
                <div class="class-batch-block text-uppercase">
                  <h4>-----</h4>
                  <p>06.00AM - 07.00AM</p>
                </div>
                <div class="class-batch-block text-uppercase">
                  <h4>-----</h4>
                  <p>06.00AM - 07.00AM</p>
                </div>
                <div class="class-batch-block text-uppercase">
                  <h4><span class="text-pink">F</span>itness</h4>
                  <p>06.00AM - 07.00AM</p>
                </div>
                <div class="class-batch-block text-uppercase">
                  <h4><span class="text-pink">C</span>ardio</h4>
                  <p>06.00AM - 07.00AM</p>
                </div>
                <div class="class-batch-block text-uppercase">
                  <h4>-----</h4>
                  <p>06.00AM - 07.00AM</p>
                </div>
                <div class="class-batch-block text-uppercase">
                  <h4><span class="text-pink">C</span>arate</h4>
                  <p>06.00AM - 07.00AM</p>
                </div>
              </div>
            </div>
            <div class="tab-pane container fade p-0" id="friday-schedule">
              <div class="weekday-schedule pt-4">
                <div class="class-batch-block text-uppercase">
                  <h4><span class="text-pink">B</span>oxing</h4>
                  <p>06.00AM - 07.00AM</p>
                </div>
                <div class="class-batch-block text-uppercase">
                  <h4>-----</h4>
                  <p>06.00AM - 07.00AM</p>
                </div>
                <div class="class-batch-block text-uppercase">
                  <h4><span class="text-pink">B</span>ody building</h4>
                  <p>06.00AM - 07.00AM</p>
                </div>
                <div class="class-batch-block text-uppercase active">
                  <h4><span class="text-pink">B</span>oxing</h4>
                  <p>06.00AM - 07.00AM</p>
                </div>
                <div class="class-batch-block text-uppercase">
                  <h4>-----</h4>
                  <p>06.00AM - 07.00AM</p>
                </div>
                <div class="class-batch-block text-uppercase">
                  <h4>-----</h4>
                  <p>06.00AM - 07.00AM</p>
                </div>
                <div class="class-batch-block text-uppercase">
                  <h4><span class="text-pink">F</span>itness</h4>
                  <p>06.00AM - 07.00AM</p>
                </div>
                <div class="class-batch-block text-uppercase">
                  <h4><span class="text-pink">C</span>ardio</h4>
                  <p>06.00AM - 07.00AM</p>
                </div>
                <div class="class-batch-block text-uppercase">
                  <h4>-----</h4>
                  <p>06.00AM - 07.00AM</p>
                </div>
                <div class="class-batch-block text-uppercase">
                  <h4><span class="text-pink">C</span>arate</h4>
                  <p>06.00AM - 07.00AM</p>
                </div>
              </div>
            </div>
            <div class="tab-pane container fade p-0" id="saturday-schedule">
              <div class="weekday-schedule pt-4">
                <div class="class-batch-block text-uppercase">
                  <h4><span class="text-pink">B</span>oxing</h4>
                  <p>06.00AM - 07.00AM</p>
                </div>
                <div class="class-batch-block text-uppercase">
                  <h4>-----</h4>
                  <p>06.00AM - 07.00AM</p>
                </div>
                <div class="class-batch-block text-uppercase">
                  <h4><span class="text-pink">B</span>ody building</h4>
                  <p>06.00AM - 07.00AM</p>
                </div>
                <div class="class-batch-block text-uppercase active">
                  <h4><span class="text-pink">B</span>oxing</h4>
                  <p>06.00AM - 07.00AM</p>
                </div>
                <div class="class-batch-block text-uppercase">
                  <h4>-----</h4>
                  <p>06.00AM - 07.00AM</p>
                </div>
                <div class="class-batch-block text-uppercase">
                  <h4>-----</h4>
                  <p>06.00AM - 07.00AM</p>
                </div>
                <div class="class-batch-block text-uppercase">
                  <h4><span class="text-pink">F</span>itness</h4>
                  <p>06.00AM - 07.00AM</p>
                </div>
                <div class="class-batch-block text-uppercase">
                  <h4><span class="text-pink">C</span>ardio</h4>
                  <p>06.00AM - 07.00AM</p>
                </div>
                <div class="class-batch-block text-uppercase">
                  <h4>-----</h4>
                  <p>06.00AM - 07.00AM</p>
                </div>
                <div class="class-batch-block text-uppercase">
                  <h4><span class="text-pink">C</span>arate</h4>
                  <p>06.00AM - 07.00AM</p>
                </div>
              </div>
            </div>
            <div class="tab-pane container active p-0" id="sunday-schedule">
              <div class="weekday-schedule pt-4">
                <div class="class-batch-block text-uppercase">
                  <h4><span class="text-pink">B</span>oxing</h4>
                  <p>06.00AM - 07.00AM</p>
                </div>
                <div class="class-batch-block text-uppercase">
                  <h4>-----</h4>
                  <p>06.00AM - 07.00AM</p>
                </div>
                <div class="class-batch-block text-uppercase">
                  <h4><span class="text-pink">B</span>ody building</h4>
                  <p>06.00AM - 07.00AM</p>
                </div>
                <div class="class-batch-block text-uppercase active">
                  <h4><span class="text-pink">B</span>oxing</h4>
                  <p>06.00AM - 07.00AM</p>
                </div>
                <div class="class-batch-block text-uppercase">
                  <h4>-----</h4>
                  <p>06.00AM - 07.00AM</p>
                </div>
                <div class="class-batch-block text-uppercase">
                  <h4>-----</h4>
                  <p>06.00AM - 07.00AM</p>
                </div>
                <div class="class-batch-block text-uppercase">
                  <h4><span class="text-pink">F</span>itness</h4>
                  <p>06.00AM - 07.00AM</p>
                </div>
                <div class="class-batch-block text-uppercase">
                  <h4><span class="text-pink">C</span>ardio</h4>
                  <p>06.00AM - 07.00AM</p>
                </div>
                <div class="class-batch-block text-uppercase">
                  <h4>-----</h4>
                  <p>06.00AM - 07.00AM</p>
                </div>
                <div class="class-batch-block text-uppercase">
                  <h4><span class="text-pink">C</span>arate</h4>
                  <p>06.00AM - 07.00AM</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row py-4">
      <div class="col col-12 text-center py-5">
        <a href="javascript:void(0)" class="btn-style-3">
          <i class="fas fa-download"></i>
          download <span class="d-none d-sm-inline-block">our full class</span> schedule
        </a>
      </div>
    </div>
  </div>
</section>
<!--// class schedule section-->