<div class="FIT-MANNY-menu" id="FIT-MANNYMenu">
  <div class="FIT-MANNY-menu-content">
    <a href="javascript:void(0);" class="FIT-MANNY-menu-close" id="FIT-MANNYMenuClose">
      <img loading="lazy" src="../assets/img/close.svg" alt="FF Fit" class="mw-100">
    </a>
    <div class="menu-options-list">
      <a href="/" class="{% if page.url === '/' %}active{% endif %}">Home</a>
      <a href="/about.html" class="{% if page.url === '/about.html' %}active{% endif %}">About</a>
      <a href="/contact.html" class="{% if page.url === '/contact.html' %}active{% endif %}">Contact</a>
    </div>
    <div class="social-copyright">
      <div class="d-flex">
        <a href="{{socialLinks.instagram.link}}" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="{{socialLinks.youtube.link}}" target="_blank"><i class="fab fa-youtube"></i></a>
      </div>
      <p class="copyright-text">&copy; FitManny.uk all rights reseverd. <br /><a href="https://gsin.in"> FitManny.uk by gsin.in</a>
      </p>
    </div>
  </div>
</div>