<div class="FF-FIT-menu" id="FF-FITMenu">
  <div class="FF-FIT-menu-content">
    <a href="javascript:void(0);" class="FF-FIT-menu-close" id="FF-FITMenuClose">
      <img src="../assets/img/close.svg" alt="FF Fit" class="mw-100">
    </a>
    <div class="menu-options-list">
      <a href="/" class="{% if page.url === '/' %}active{% endif %}">Home</a>
      <a href="/about.html" class="{% if page.url === '/about.html' %}active{% endif %}">About</a>
      <a href="/contact.html" class="{% if page.url === '/contact.html' %}active{% endif %}">Contact</a>
    </div>
    <div class="social-copyright">
      <div class="d-flex">
        <a href=""><i class="fab fa-facebook-f"></i></a>
        <a href=""><i class="fab fa-instagram"></i></a>
        <a href=""><i class="fab fa-snapchat-ghost"></i></a>
        <a href=""><i class="fab fa-youtube"></i></a>
      </div>
      <p class="copyright-text">&copy; FitManny.uk all rights reseverd. <br /><a href="https://gsin.in"> FitManny.uk by gsin.in</a>
      </p>
    </div>
  </div>
</div>