<div class="banner-social-holder">
  <ul class="social-opts">
    <li class="text-uppercase list-label">Share</li>
    <li class="dash"></li>
    <li>
      <a href="{{socialLinks.facebook.link}}">
        <i class="fab fa-facebook-f"></i>
        <div class="tooltip-info text-uppercase">{{socialLinks.facebook.label}}</div>
      </a>
    </li>
    <li>
      <a href="{{socialLinks.instagram.link}}">
        <i class="fab fa-instagram"></i>
        <div class="tooltip-info text-uppercase">{{socialLinks.instagram.label}}</div>
      </a>
    </li>
  </ul>
</div>