<!--testimonial section-->
<section class="testimonial py-5">
  <div class="our-testimonial py-5 swiper-container-initialized swiper-container-horizontal">
    <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(293.5px, 0px, 0px);">
      <div class="swiper-slide testimonial-block swiper-slide-active" style="margin-right: 30px;">
        <div class="testimonial-user-details">
          <div class="avatar-image">
            <img loading="lazy" src="./assets/img/user-avatar-1.jpg" alt="FF Fit" class="mw-100">
          </div>
          <h6 class="pl-3">Lauren Jackson</h6>
          <p class="pl-3"><img loading="lazy" src="./assets/img/pin.svg" alt="FF Fit" height="25" class="mr-2"> sydney, au
          </p>
        </div>
        <div class="testimonial-message text-left">
          <h3>Excellent Service</h3>
          <p class="m-0">Ipsum dolor sit amet, eu per legimus referrentur. Ius ne viris repudiare, nominavi
            sententiae eos in. Et duo salutatus consequat Lorem ipsum dolor sit amet.</p>
        </div>
      </div>
      <div class="swiper-slide testimonial-block swiper-slide-next" style="margin-right: 30px;">
        <div class="testimonial-user-details">
          <div class="avatar-image">
            <img loading="lazy" src="./assets/img/user-avatar-1.jpg" alt="FF Fit" class="mw-100">
          </div>
          <h6 class="pl-3">Lauren Jackson</h6>
          <p class="pl-3"><img loading="lazy" src="./assets/img/pin.svg" alt="FF Fit" height="25" class="mr-2"> sydney, au
          </p>
        </div>
        <div class="testimonial-message text-left">
          <h3>Excellent Service</h3>
          <p class="m-0">Ipsum dolor sit amet, eu per legimus referrentur. Ius ne viris repudiare, nominavi
            sententiae eos in. Et duo salutatus consequat Lorem ipsum dolor sit amet.</p>
        </div>
      </div>
      <div class="swiper-slide testimonial-block" style="margin-right: 30px;">
        <div class="testimonial-user-details">
          <div class="avatar-image">
            <img loading="lazy" src="./assets/img/user-avatar-1.jpg" alt="FF Fit" class="mw-100">
          </div>
          <h6 class="pl-3">Lauren Jackson</h6>
          <p class="pl-3"><img loading="lazy" src="./assets/img/pin.svg" alt="FF Fit" height="25" class="mr-2"> sydney, au
          </p>
        </div>
        <div class="testimonial-message text-left">
          <h3>Excellent Service</h3>
          <p class="m-0">Ipsum dolor sit amet, eu per legimus referrentur. Ius ne viris repudiare, nominavi
            sententiae eos in. Et duo salutatus consequat Lorem ipsum dolor sit amet.</p>
        </div>
      </div>
    </div>
    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
  </div>
</section>
<!--// testimonial section-->