<nav class="fixed-top web-navbar">
  <div class="row">

    <!-- web menu action -->
    <div class="col-md-4 col-sm-3 col-3 d-flex justify-content-start web-menu-action">
      <button class="btn btn-outline-primary btn-overlay-menu" id="overlayMenuAction">
        <img loading="lazy" src="./assets/img/menu.svg" alt="FF Fit" class="mw-100">
      </button>
    </div>
    <!-- web brand -->
    <div class="col-md-4 col-sm-4 col-6 text-center d-flex justify-content-center web-brand">
      <a href="/"><img loading="lazy" src="./assets/img/logo.png" alt="FF Fit" class="mw-100"></a>
    </div>

  </div>
</nav>